@model SkedPortal.Models.AssignedFlight

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssignedFlight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Flight Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight_number)
        </dd>

        <dt>
            Flight Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight_date)
        </dd>

        <dt>
            Captain
        </dt>

        <dd>
            @Html.DisplayFor(model => model.captain)
        </dd>

        <dt>
            First Officer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_officer)
        </dd>

        <dt>
            FAl
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fal)
        </dd>

        <dt>
            FA1
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fa1)
        </dd>

        <dt>
            FA2
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fa2)
        </dd>

        <dt>
            FA3
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fa3)
        </dd>

        <dt>
            FA4
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fa4)
        </dd>

        <dt>
            FA5
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fa5)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
