@model IEnumerable<SkedPortal.Models.AssignedFlight>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Flight Number
        </th>
        <th>
            Flight Date
        </th>
        <th>
           Captain
        </th>
        <th>
            First Officer
        </th>
        <th>
            FAl
        </th>
        <th>
            FA1
        </th>
        <th>
            FA2
        </th>
        <th>
            FA3
        </th>
        <th>
            FA4
        </th>
        <th>
            FA5
        </th>
        <th></th>
    </tr>

@for(int i = 0, j =0; i <Model.Count() && j<ViewBag.Names.Count; i++, j++) {
    <tr>
        <td>
            @Model.ElementAt(i).flight_number
        </td>
        <td>
            @Model.ElementAt(i).flight_date
        </td>
        <td>
            @ViewBag.Names[j][0]
        </td>
        <td>
            @ViewBag.Names[j][1]
        </td>
        <td>
            @ViewBag.Names[j][2]
        </td>
        <td>
            @ViewBag.Names[j][3]
        </td>
        <td>
            @ViewBag.Names[j][4]
        </td>
        <td>
            @ViewBag.Names[j][5]
        </td>
        <td>
            @ViewBag.Names[j][6]
        </td>
        <td>
            @ViewBag.Names[j][7]
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ElementAt(i).id }) |
            @Html.ActionLink("Details", "Details", new { id = Model.ElementAt(i).id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.ElementAt(i).id })
        </td>
    </tr>
}


</table>
