@model IEnumerable<SkedPortal.Models.User>

@{
    ViewBag.Title = "Employees";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
        <th>
            Username
        </th>
        <th>
            Password
        </th>
        <th>
            Role
        </th>
        <th>
            Total Hours
        </th>
        <th>
            Current Hours
        </th>
        <th>
            Availability
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.permissions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.current_hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.availability)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
