@model SkedPortal.Models.Flight

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<h4>@ViewBag.Flight_Error</h4>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Flight</h4>
        <input type="text" hidden value="@ViewBag.FId" name="flight_id"/>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class = "control-label col-md-2"> Flight Number</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.flight_number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.flight_number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Flight Date</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.flight_date, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.flight_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Flight Origin</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.flight_origin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.flight_origin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Flight Start</label>
            <div class="col-md-10">
                <input type="time" name ="flight_start" class="form-control" required placeholder=@DateTime.Now.TimeOfDay />
                @Html.ValidationMessageFor(model => model.flight_start, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Flight Destination</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.flight_destination, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.flight_destination, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Flight End</label>
            <div class="col-md-10">
                <input type="time" name ="flight_end" class="form-control" required placeholder=@DateTime.Now.TimeOfDay />
                @Html.ValidationMessageFor(model => model.flight_end, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
