@model SkedPortal.Models.Flight

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.flight_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flight_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flight_origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight_origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flight_start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight_start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flight_destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight_destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flight_end)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight_end)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assigned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.completed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
