@model SkedPortal.Models.Flight

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Flight Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight_number)
        </dd>

        <dt>
            Flight Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight_date)
        </dd>

        <dt>
            Flight Origin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight_origin)
        </dd>

        <dt>
            Flight Start
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight_start)
        </dd>

        <dt>
            Flight Destination
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight_destination)
        </dd>

        <dt>
            Flight End
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight_end)
        </dd>

        <dt>
            Assigned
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assigned)
        </dd>

        <dt>
            Completed
        </dt>

        <dd>
            @Html.DisplayFor(model => model.completed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
